

.inputMessage {
    margin-top: 1em;
}

div.output input {
    width:400px;
}

div.output label {
    display: block;
    width: 200px;
    text-align: right;
    margin:0;
    float: left;
    clear:both;
}